# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Paul\Documents\UCL\Year 4\ELEC0134 Applied Machine Learning Systems\CW\AMLS_21-22_SN18019649\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
